<div class="row">
	  <div class="col-12 offset-3">

<%= simple_form_for @book, html: { class: 'form-horizontal' } do |f| %>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Book Register</h3>
        </div>
        <div class="panel-body">
 
	<%= f.input :name %>
	<%= f.input :author %>
	<%= f.input :isbn %>
	<%= f.input :price %>
	<%= f.input :category %>
	<%= f.input :publish, as: :boolean %>
	<%= f.submit 'Save'%>
	       </div>
    </div>

<% end %>
</div>
</div>