<%= form_tag(books_path, method: :get, remote: true ) do %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<div class= 'books_div'>
  <%= render 'list' %>
</div>

<%= link_to 'New book', new_book_path, class: 'btn btn-primary'
 %>